[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
psycopg2-binary = "*"
python-dotenv = "*"
flask-restplus = "==0.13.0"
flask-marshmallow = "==0.14.0"
werkzeug = "==0.16.1"
flask-sqlalchemy = "==2.4.4"
marshmallow-sqlalchemy = "==0.24.1"
jinja2 = "==2.11.2"
markupsafe = "==1.1.1"
itsdangerous = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.7"
